<div>
  <p>Please select where to import existing containers from:</p>
  <section>
    <button id="btn-native" class="btn" style="display: block; margin: 0.5rem;">
      Native (No extension)
    </button>
    <button id="btn-containerise" class="btn" style="display: block; margin: 0.5rem;" disabled="">
      Containerise
    </button>
  </section>
  <label for="check-detect-temp">Detect and remove temporary containers?</label>
  <input id="check-detect-temp" name="check-detect-temp" type="checkbox" checked=""/>
</div>
