<h1>Create new container</h1>
<dialog style="border: none;" open="">
  <form id="form-new-container" method="dialog">
    <input type="text" name="name" maxlength="256" placeholder="container name"
        style="flex-grow: 2; margin: auto 0.5rem;"/>
    <h2>Color</h2>
    <ul style="display: flex; flex-wrap: wrap; list-style: none; margin: 0; padding: 0;">
      {% for color in colors %}
        <li style="padding: 0.25rem;">
          <input type="radio" id="radio-{{color}}" name="color" value="{{color}}"
              style="display: none;"/>
          <label aria-label="{{color}}" for="radio-{{color}}">
            <span aria-hidden="true" class="icon" style="color: {{color}};">&#xf163;</span>
          </label>
        </li>
      {% endfor %}
    </ul>
    <h2>Icon</h2>
    <ul style="display: flex; flex-wrap: wrap; list-style: none; margin: 0; padding: 0;">
      {% for icon in icons %}
        <li style="padding: 0.25rem;">
          <input type="radio" id="radio-{{icon.0}}" name="icon" value="{{icon.0}}"
              style="display: none;"/>
          <label for="radio-{{icon.0}}">
            <img src="{{icon.1}}" alt="{{icon.0}}" class="icon" draggable="false"/>
          </label>
        </li>
      {% endfor %}
    </ul>
    <button style="float: inline-end;">Create</button>
  </form>
</dialog>