@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url(./material-symbols-rounded.woff2) format('woff2');
  }

h1, h2 {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

input[type='radio']:checked + label[for].framed {
    border: 2px solid aqua;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border: none;
    border-radius: 4px;
}

.icon {
    font-family: 'Material Symbols Rounded';
    width: 1rem;
    height: 1rem;
    padding: 0;
}
